.hidden {
  display: none !important;
}

/* Small Device : ≥576px */
@media screen and (max-width: 576px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
  #about,
  #skills,
  #resume {
    padding-top: 60px;
  }

  /* header (Navbar and Hero/Banner Section) starts */
  header {
    padding-top: 10px;
    background: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }
  #banner {
    padding: 30px 10px 0;
    flex-direction: column;
    gap: 20px;
  }
  .banner-content {
    max-width: 100%;
    text-align: center;
  }
  .banner-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .banner-content p {
    margin-bottom: 20px;
  }
  .banner-content .btn-group {
    gap: 10px;
    justify-content: center;
  }
  .banner-image img {
    width: 100%;
  }
  /* header (Navbar and Hero/Banner Section) ends */

  /* about section starts */
  .about-box {
    padding: 0 10px;
  }
  #about .about-container {
    padding: 50px 60px;
  }
  .about-info {
    flex-direction: column;
    gap: 15px;
  }
  .section-heading h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  /* about section ends */

  /* skills section starts */
  #skills .card-container {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  #skills .skills-card {
    max-width: 100%;
  }
  #skills .skills-card img{
    margin-bottom: 10px;
  }
  /* skills section ends */

  /* resume section starts */
  .resume-container{
    flex-direction: column;
    gap: 50px;
  }
  #resume .section-heading{
    margin-bottom: 30px;
  }
  #resume .resume-heading{
    font-size: 25px;
    margin-bottom: 10px;
  }
  #resume .card-heading{
    font-size: 20px;
    margin-bottom: 10px;
  }
  #resume .card-subheading{
    font-size: 18px;
    margin-bottom: 10px;
  }
  #resume .download-cv {
    margin: 20px 0 113px 0;
}
  /* resume section ends */
}
