* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles starts */
.container {
  padding: 0 215px;
}

.about-section {
  padding: 0 215px;
}

.btn {
  padding: 18px 36px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: #fd6f0ae5;
  cursor: pointer;
  transition: 0.25s;
}

.btn-outline {
  background-color: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  transition: 0.25s;
}
.btn-outline:hover {
  background-color: #fd6e0a;
  color: #ffffff;
}

.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
  text-align: center;
}

.section-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
  text-align: center;
}

#about,
#skills,
#resume {
  padding-top: 130px;
}
/* shared styles ends */

/* header starts */
header {
  padding-top: 50px;
  background: url(/images/developer.png), url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 38px 23px, bottom right;
  background-color: #fff8f3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

.logo .orange-text {
  color: #fd6e0a;
}

.menu {
  display: flex;
  max-width: 390px;
  gap: 50px;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
/* header ends */

/* banner/hero section starts */
#banner {
  padding: 40px 38px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  max-width: 585px;
}

.banner-content h2 {
  font-size: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.banner-content button {
  margin-right: 30px;
}

.banner-image img {
  width: 584px;
  vertical-align: bottom;
}
/* banner/hero section ends */

/* about section stars */
#about .about-container {
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
  border-radius: 10px;
}

#about .about-info {
  display: flex;
  justify-content: space-around;
}

.info-card p {
  font-size: 20px;
  color: #757575;
}

.info-card h4 {
  font-size: 20px;
  color: #474747;
  font-weight: bold;
}
/* about section ends */

/* skills section starts */
#skills .card-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

#skills .skills-card {
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 #00000012;
  padding: 30px;
}

#skills .skills-card img {
  width: 44px;
  margin-bottom: 30px;
}
#skills .skills-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#skills .skills-card p {
  color: #757575;
  line-height: 28px;
  font-size: 16px;
}
/* skills section ends */

/* resume section starts */
#resume .section-heading {
  margin-bottom: 113px;
}

#resume .resume-container {
  display: flex;
  justify-content: space-between;
}

#resume .resume-heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #474747;
}

#resume .resume-card {
  max-width: 511px;
}

#resume .card-heading {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subheading {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card-info {
  line-height: 28px;
}
#resume hr {
  margin: 30px 0;
}

#resume .download-cv {
  text-align: center;
  margin: 50px 0 113px 0;
}
/* resume section ends */

/* footer starts */
footer {
  padding: 130px 0;
  background-color: #fff8f3;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.socials-connect {
  max-width: 562px;
}

.socials-connect h2 {
  color: #181818;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.socials-connect p {
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}
.socials-connect .icons-container {
  display: flex;
  gap: 24px;
}

.message-form h2 {
  color: #313131;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}
.message-form {
  max-width: 461px;
  width: 100%;
}

.message-form input,
textarea {
  width: 100%;
  padding: 18px 30px;
  border: none;
  resize: none;
  font-family: sans-serif;
  border-radius: 5px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.message-form textarea {
  height: 200px;
}
/* footer ends */
