* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles start */
.container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  padding: 18px 36px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: #fd6f0ae5;
  cursor: pointer;
  transition: 0.25s;
}

.btn-outline {
  background-color: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  transition: 0.25s;
}
.btn-outline:hover {
  background-color: #fd6e0a;
  color: #ffffff;
}
/* shared styles end */

/* dedicated styles */
header {
  padding-top: 50px;
  background: url(/images/developer.png), url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 38px 23px, bottom right;
  background-color: #fff8f3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
  color: #181818;
}

.logo .orange-text {
  color: #fd6e0a;
}

.menu {
  display: flex;
  max-width: 390px;
  gap: 50px;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  max-width: 585px;
}

.banner-content h2 {
  font-size: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.banner-content button {
  margin-right: 30px;
}

.banner-image img {
  width: 584px;
  vertical-align: bottom;
}
#about {
  padding: 130px 0;
}

#about .about-container {
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
  border-radius: 10px;
}

.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

#about .about-info {
  display: flex;
  justify-content: space-around;
}

.info-card p {
  font-size: 20px;
  color: #757575;
}

.info-card h4 {
  font-size: 20px;
  color: #474747;
  font-weight: bold;
}
